'.source.js':

  "childNodes-> JS DOM":
    "prefix": "jsdn-childNodes"
    "body": """
    childNodes
    """
  "childNodes[i]-> JS DOM":
    "prefix": "jsdn-childNode-array"
    "body": """
    childNodes[$1]
    """
  "parentNode-> JS DOM":
    "prefix": "jsdn-parentNode"
    "body": """
    parentNode
    """
  "firstChild-> JS DOM":
    "prefix": "jsdn-firstChild"
    "body": """
    firstChild
    """
  "lastChild-> JS DOM":
    "prefix": "jsdn-lastChild"
    "body": """
    lastChild
    """
  "firstElementChild-> JS DOM":
    "prefix": "jsdn-firstElementChild"
    "body": """
    firstElementChild
    """
  "lastElementChild-> JS DOM":
    "prefix": "jsdn-lastElementChild"
    "body": """
    lastElementChild
    """
  "nextSibling-> JS DOM":
    "prefix": "jsdn-nextSibling"
    "body": """
    nextSibling
    """
  "previousSibling-> JS DOM":
    "prefix": "jsdn-previousSibling"
    "body": """
    previousSibling
    """
  "nextElementSibling-> JS DOM":
    "prefix": "jsdn-nextElementSibling"
    "body": """
    nextElementSibling
    """
  "previousElementSibling-> JS DOM":
    "prefix": "jsdn-previousElementSibling"
    "body": """
    previousElementSibling
    """
  "nodeName-> JS DOM":
    "prefix": "jsdn-nodeName"
    "body": """
    nodeName
    """
  "nodeType-> JS DOM":
    "prefix": "jsdn-nodeType"
    "body": """
    nodeType
    """
  "nodeValue-> JS DOM":
    "prefix": "jsdn-nodeValue"
    "body": """
    nodeValue
    """
  "cloneNode-> JS DOM":
    "prefix": "jsdn-cloneNode"
    "body": """
    cloneNode(true)
    """
  "insertBefore-> JS DOM":
    "prefix": "jsdn-insertBefore"
    "body": """
    insertBefore(new,selected)
    """
  "removeChild-> JS DOM":
    "prefix": "jsdn-removeChild"
    "body": """
    removeChild($1)
    """
  "replaceChild-> JS DOM":
    "prefix": "jsdn-replaceChild"
    "body": """
    replaceChild(new_node$1,old_node)
    """
